/*************************
GENERAL
*************************/
.wrap{
  width: 90%;
  margin: 0px auto;
}

.butter {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/*************************
NAV-DESKTOP
*************************/
.nav-desktop, .top-bar ul {
  background-color: transparent;
  height: 60px;
  padding: 0;
}

.site-logo{
  color: white;
  font-size: 35px;
}

.site-logo:visited{
  color: White;
  font-size: 35px;
}

.top-bar{
  background-color: #5E8BA3;
  padding: 0;
}

.nav-desktop a{
  display: inline-block;
  padding-top: 10px;
  color: white;
  font-size: 20px;
}

.menu > li > a:hover{
  background-color: rgba(255,255,255, 0.1);
}

.menu a{
  line-height: 2;
}

/*************************
HERO
*************************/
.hero{
  background: #CEE4F0;
  padding: 50px 0px;
  height: 300px;
}

.button{
  background: blue;
}
/*************************
MAIN
*************************/
.main{
  padding: 30px 0px;
}

label{
  font-size: 20px;
}

.button-right {
    margin-left: 80%;
}

/*************************
FOOTER
*************************/
footer{
  background-color: gray;
  padding: 50px 0px;
}

footer a{
  display: block;
}

.footer-type{
  line-height: 8px;
}
