body {
  background: #EEE;
  margin: 0;
  padding: 0;
}

/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: #0CCEF5;
  padding: 15px;
  position: relative;
  top: 0;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #0F118B;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 100px 10px 100px;
  text-transform: uppercase;
}

/* Body */

body {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 20px;
}
